<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9JiL3L4YR7NHwWlwIzcHeSoV5s_W7IR4</string>
	<key>GCM_SENDER_ID</key>
	<string>945171489657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goodthings.SwiftStudentChallenge</string>
	<key>PROJECT_ID</key>
	<string>spring24-2c3dc</string>
	<key>STORAGE_BUCKET</key>
	<string>spring24-2c3dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945171489657:ios:bf9e820ce231cc8801c5a8</string>
</dict>
</plist>